/*-- Body Reset --*/
body {
  /* background: url('../img/veterans-day-g4e2934289_1920.png') no-repeat fixed center; */
  background: linear-gradient(to right,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)),url(../img/veterans-day-g4e2934289_1920.jpg) center;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.h3 {
  font-family: 'Kode Mono', san-serif;
  text-transform: uppercase;
}

#job-table a:visited {
  color: #444;
}

.mdi {
  font-size: 36px;
  display: inline-block;
}
.mdi-small {
  font-size: 16px;
  display: inline-block;
}

i {
  display: inline-block;
}


/*============= NAVIGATION =============*/
/* .navbar-brand img {
  height: 2.5rem;
}*/

.navbar {
  text-transform: uppercase;
  font-size: .8rem;
}

.navbar-dark {
  background-color: transparent !important;
  border-bottom: 1px solid #ad0101;
} 

/* .nav-item {
  padding: .5rem;
}

.nav-link {
  color: #5b5555 !important;
} */

/* .nav-link.active ,
.nav-link:hover {
  color: #18149c !important;
} */

/*============= BUTTONS =============*/

.btn-lg {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: medium;
}

.btn-primary {
  background-color: #ad0101;
  border: .05rem solid #ad0101;
}

.btn-secondary {
  background-color: #aaaaaa;
  border: .05rem solid #aaaaaa;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #68a0d2 !important;
  border: .05rem solid #68a0d2 !important;
}

.btn-outline-light {
  color: #5b5555;
  background-color: #ffffff;
  background-image: none;
  border-color: #f8f9fa;
  border-radius: 0.3rem;
  margin-left: 1rem;

}

.br-3 {
  border-radius: 0.5rem;
}
/*===== FIXED BACKGROUND IMG =====*/
.fixed {
  background-image: url('../img/D1C_5644.jpg');
  position: fixed;
  opacity: 1;
}

.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
  padding: 10rem 0;
}


/*===== LOGIN/REGISTER =====*/
.loginbox {
  width: 360px;
  min-height: 380px;
  border: 1px solid #f9f9f9;
  border-radius: 0;
  background-color: transparent;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px 30px;
}

.loginbox .display-6 {
  margin: 0;
  background-color: transparent;
  color: #ffffff;
  padding: 0 0 20px;
  text-align: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -60px;
  left: calc(50% - 60px);
}

.warningbox {
  width: 420px;
  height: 320px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 10px 30px 10px;
}

/*========== JOB FORM =====================*/
.job-box {
  width: 860px;
  height: 1060px;
  border: 1px solid #f9f9f9;
  border-radius: 10px;
  top: 4rem;
  place-items: center;
  position: absolute;

  box-sizing: border-box;
  padding: 70px 30px 30px;
}



/*============== FLOATING LABELS ===============*/


.floating:hover,
.floating:focus-within {
  background-color: var(--field__background--hover);
}

.floating_input {
  padding: 1rem 3rem 0.6rem;
  font-size: 1rem;
  /* border-bottom: 0.1rem solid var(--input__border); */
  transition: border-color 0.2s ease;
}


.floating:hover .floating__input {
  border-color: #5858fd;
}


.floating_input::placeholder {
  color: rgba(0, 0, 0, 0);
}


.floating_label {
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none;
}

.floating_label::before {
  color: #616971;
  content: attr(data-content);
  display: flex;
  filter: blur(0);
  backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease;
  left: 0.5rem;
  position: relative;
}

.floating_label::after {
  bottom: 1rem;
  content: "";
  height: 0.1rem;
  position: absolute;
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
  opacity: 0;
  left: 0;
  top: 100%;
  margin-top: -0.1rem;
  transform: scale3d(0, 1, 1);
  width: 100%;
  background-color: var(--color__accent);
}

.floating_input:focus + .floating_label::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.floating_input:placeholder-shown + .floating_label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating_label::before,
.floating_input:focus + .floating_label::before {
  transform: translate3d(0, -3.12rem, 0) scale3d(0.7, 0.7, 1);
  color: #616971;
}

.floating_input:focus + .floating_label::before {
  color: blue;
}

.hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form-control {
  padding: 2rem 0 1rem 0.8rem;
}

.form-control-2 {
  height: 48px;
  padding: 0 0 0 0.2rem;
}





/*=================== OTHER ===================*/
.thumbnail {
  width: 16rem;
  height: 12rem;
  border-radius: 1rem;
}

.thumbnail-sm {
  width: 10rem;
  height: 8rem;
  border-radius: 1rem;
}

.x-sma2l {
  border-radius: 1rem;  font-size: 0.7rem;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-6 {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-primary {
  color: #ad0101 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #ad0101 !important;
}

.text-secondary {
  color: #ff8826 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #ff8826 !important;
}

.text-tertiary {
  color: #545b62 !important;
}

a.text-tertiary:hover, a.text-tertiary:focus {
  color: #545b62 !important;
}

.bg-primary {
  background-color: #18149c !important;
}

.bg-secondary {
  background-color: #ff8826 !important;
}

/* .bg-tertiary {
  background-color: #f9f9f9 !important;
} */

.box-shadow {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.w-10 {
  width: 10% !important;
}

#announcement {
  margin: 60px 0;
}

#announcement a,
#announcement a:active,
#announcement a:hover,
#announcement a:visited {
  color: black;
}

.table h6 {
  font-size: .7rem;
  color: rgb(215, 215, 215);
}

.table-dark {
  color: #bebebe;
  background-color: transparent;
  border-bottom: 1px solid #bebebe;
}

table tr td a {
  color: white;
}

.spacer {
  margin: 6em 0;
}

.alert-success {
  z-index: 1;
  background: #d4edda;
  font-size: 1rem;
  font-weight: 700;
  padding: 20px 40px;
  width: 100%;
  border-left: 8px solid #3ad66e;
  border-radius: 0.3rem;
}

.alert-error {
  z-index: 1;
  background: #fff3cd;
  font-size: 1rem;
  font-weight: 700;
  padding: 20px 40px;
  width: 100%;
  border-left: 8px solid #ffa502;
  border-radius: 0.3rem;
}

.center-card {
  background-color: #FAFAFA;
  width: 40%;
  min-width: 390px;
  height: auto;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
  padding: 20px 20px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.card-title {
  font-size: 0.85rem;
}
.status {
  color: green;
  text-align: center;
  margin: 5px;
  font-weight: 600;
 }

 .errordiv {
  color: red;
 }

 .shaded-row {
  background-color: rgba(255, 255, 255, .5)
 }

 .form-control {
  background-color: rgba(255, 255, 255, .5);
  color: #ffffff;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, .6)
 }


 /*============= CARD =============*/
.card {
  background-color: transparent;
  border-color:rgba(255, 255, 255, 0.5)
}

.row .card {
  color: #ffffff;;
}



/*============= FOOTER =============*/
footer {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  padding: 1.5rem 0;
}

footer h4 {
  padding-bottom: 1.4rem; }

footer h4::after {
  content: "";
  height: 5px;
  width: 50px;
  background: linear-gradient(to right, #ff8826ff, #ff882688, #ff882600);
  display: block;
  position: absolute;
  text-align: center;
 }

footer ul, footer li {
  list-style-type: none;
  margin: .1rem;
  padding: .1rem;
}

footer .social a {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: color, background-color,  0.2s linear 0s;
  padding: 6px 0 0 10px;
}

footer .social a:hover {
  background-color: #fff;
}

footer .fa-facebook-f {
  color: #3B5998;
  padding: 5px 0 0 2px; 
}

footer .fa-facebook-f:hover {
  color: #3B5998;
}

footer .fa-twitter {
  padding: 5px 0 0 2px;
  color: #1DA1F2; 
}

footer .fa-twitter:hover {
  color: #1DA1F2;
}


footer .fa-youtube {
  padding: 5px 0 0 2px; 
  color: #ff0000;
}

footer .fa-youtube:hover {
  color: #ff0000;
}

footer .fa-instagram {
  padding-top: 2px;
  color: rgb(198, 43, 236);
}

footer .fa-isntagram:hover {
  color: rgb(198, 43, 236);
}

footer a:link, a:visited,
.socket a:link, a:visited {
  color: rgba(255, 255, 255, 0.5); 
}

footer a:hover,
.socket a:hover {
  text-decoration: none;
  color: white; 
}

.telno {
  display: inline-block;
  width: 30px;
}


/*============= SOCKET =============*/

.socket {
  margin-top: 3rem;
  background-color: transparent;
  border-top: .1rem solid #ad0101
}

.socket a:hover {
  color: white;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
  .carousel-caption h1 {
    font-size: 2.8rem;
  }
  
  .carousel-caption h5 {
    font-size: 0.9rem;
    font-style: italic;
  }
  
}
/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
  .carousel-caption h1 {
    font-size: 2.3rem;
  }
  
  .carousel-caption h5 {
    font-size: 0.7rem;
    font-style: italic;
  }

  .btn-lg {
    font-size: .95rem;
  }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
